@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
   --background: #110d1d;
   --layout: #191c27;
   --item: #31304D;
   --input: #2c6e7e;
   --dialog: #5e2470;
}

body {
   background-color: var(--background);
   color: azure;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100svh;
}

section {
   display: flex;
   gap: 20px;
   width: 900px;

}

section>div {
   display: flex;
   flex-direction: column;
}

form {
   background-color: var(--item);
   display: flex;
   flex-direction: column;
   height: min-content;
   padding: 1em;

}
:modal{
   background-color: var(--dialog);
   color: azure;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-color: #31304D;
   border-radius: 10px;
}

input {
   background-color: var(--input);
}

button {
   margin: 10px 12px;
   padding: 5px 10px;
   background-color: var(--layout);
   color: greenyellow;
   border-radius: 8px;
}

.space {
   background-color: var(--item);
   color: greenyellow;
   width: 440px;
   height: 520px;
}

.board {
   background-color: var(--layout);
   width: 400px;
   height: 400px;
   margin: 10px 20px;
   display: flex;
   flex-direction: column;
}

.info {
   background-color: black;
   border-radius: 8px;
   color: greenyellow;
   font-size: 1.4em;
   font-family: 'Share Tech Mono', monospace;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
   padding: 10px 20px;
}

.row {
   height: 40px;
   display: flex;
}

.box {
   outline: 1px solid rgb(0, 126, 38);
   width: 40px;
   cursor: crosshair;
   transition: transform 0.5s;
}

.box:not(.hit):hover{
   outline: 3px groove cyan;
   z-index: 8;
   animation: pulse-animation 1.8s infinite;
}

@keyframes pulse-animation {
   0% { box-shadow: inset 0 0 0 0px rgba(0, 255, 225, 0.8); }
   100% { box-shadow: inset 0 0 0 6px rgba(0, 255, 225, 0.0);}
}
.box:active{
   transform: scale(0.92);
}
 #board-one .row .ship{
   cursor: cell;
}
.ship{
   background-color: #00cc6da2;
   outline-color: rgb(0, 255, 0);
   z-index: 5;
}
.ship:hover{
   outline: 3px groove greenyellow;
}
.hit {
   outline-color: red;
   background-color: darkred;
   z-index: 5;
   animation: explosion 0.5s;
}
.sunk{
   background-color: rgb(73, 0, 0);
}

@keyframes explosion{
   0% { box-shadow: 0 0 0 0px orangered; }
   100% { box-shadow: 0 0 0 14px rgba(255, 251, 0, 0); }
}

.fail {
   background-color: darkblue;
}
.warn {
   box-shadow: inset 0 0 0 2px rgb(100, 0, 0);
   outline-color: rgb(100, 0, 0);
   z-index: 3;
}

#create-info{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--layout);
   color: greenyellow;
   font-size: 1.4em;
   font-family: 'Share Tech Mono', monospace;
   width: 300px;
}
#selector{
   display: flex;
   justify-content: space-around;
   width: 300px;
}
.selected{
   box-shadow: inset 0 0 0 4px rgb(0, 219, 84);
   background-color: #00cc6da2;
   z-index: 3;
}
.bad{
   box-shadow: inset 0 0 0 4px rgb(219, 0, 0);
   background-color: rgb(73, 0, 0);
   z-index: 3;
}
